{% extends 'base.html.twig' %}

{% block title %}gains{% endblock %}

{% block nav %}
    <a href="../"> <img src="{{ asset('/img/picto/cancel.png') }}"/></a>
{% endblock %}

{% block body %}
<style>
	{{ source('@css/form.css') }}
    canvas{
		position: relative;
		top: 50px;
	}
</style>

	<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
	const canvas = document.getElementById('myChart')
	
	canvas.setAttribute('width',  window.innerWidth-40);
	canvas.setAttribute('height', window.innerHeight-100);

	let datasArray = {{ data|json_encode() }};

	let data = [];
	let labels = [];
	datasArray.reverse().forEach((entrie)=>{
		let options = { hour: "numeric", minute: "numeric"}
		labels.push(new Date(entrie[0]*1000).toLocaleString("fr-FR",options));
		data.push(entrie[6]/entrie[5]*{{ amount }} )
	});

	

	const ctx = canvas.getContext('2d');
	const myChart = new Chart(ctx, {
		type: 'line',
		data:{
			labels: labels,
			datasets: [{
				label: 'gains',
				data: data,
				fill: true,
				borderColor: '#1fc36c',
				tension: 0.1
			}]
		},
		
		options: {
			scales:{	
				x: {
					max: 10,
					reverse: true
				},
			},
			layout: {
            	padding: 20
        	}
			
		}
	});
	 myChart.defaults.plugins.tooltip
</script>
{% endblock %}
