{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <div>
        <ul>
            {% for exanges in data_wallet %}
                <form>
                    <img src ="uploads/{{ exanges.Currency.Images.Name }}" />
                    <input type="text" value="{{ exanges.Currency.Name }}" />
                    <input type="hidden" value="{{ exanges.amount }}"/>
                    <input type="hidden" value="{{ exanges.InitialValue }}"/>
                    <button></button>
                </form>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
